{% extends "base.html.twig" %}

{% block title %}
    Accéder à mon groupe
{% endblock %}
{% block body %}
    <div class="container container__login">
        <div class="row">
            <div class="col-8 mt-5 blur p-5 mx-auto shadow-lg">
                {{ form_start(formViewLogin) }}
                {{ form_row(formViewLogin.adminLinkToken)}}
                {{ form_rest(formViewLogin) }}
                {{ form_errors(formViewLogin) }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Accéder mon groupe</button>
            </div>    
        </div>
    </div>
{% endblock %}