{% extends "base.html.twig" %}

{% block title %}
    Accéder à mon événement.
{% endblock %}
{% block body %}
    <div class="container container__login">
        
        <div class="row">
            <div class="col-4 mt-5">
                {{ form_start(formViewLogin) }}
                {{ form_row(formViewLogin.adminLinkToken)}}
                {{ form_rest(formViewLogin) }}
                {{ form_errors(formViewLogin) }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Accéder à l'événement</button>
            </div>    
        </div>
    </div>
{% endblock %}