{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<h1>Inscrivez-vous</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
    <hr>
    <h2>Un service irréprochable</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate iste eaque quas at corporis perspiciatis.</p>
    <div class="row">
       {% include "shared/_assurance.html.twig" with {
           "color" : "primary", 
           "icon" : "fas fa-truck", 
           "text" : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum consectetur iste saepe earum, hic ad!" 
        } %}

        {% include "shared/_assurance.html.twig" with {
           "color" : "success", 
           "icon" : "fas fa-check", 
           "text" : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum consectetur iste saepe earum, hic ad!" 
        } %}

        {% include "shared/_assurance.html.twig" with {
           "color" : "warning", 
           "icon" : "fas fa-lock", 
           "text" : "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum consectetur iste saepe earum, hic ad!" 
        } %}
    </div>

{% endblock %}