{# Used in grouppage.html.twig #}
<div class="row">
	<div class="card mb-1">
        <div class="card-header">
			{% if ticket.isArchived == 1 %}
				<span class="badge bg-success">On a répondu à votre appel.</span>
			{% else %}
				<span class="badge bg-dark">Ticket non traité.</span>
			{% endif %}

			<h3 class="card-text h5">{{ticket.title}}</h3>
			<p class="card-text">{{ticket.createdAt|date("d/m/Y")}}</p>
		</div>
		<div class="card-body">
            <p class="card-text">{{ticket.request}}</p>
            <div class="flex">
                <a class="btn btn-sm btn-outline-info btn-sm">Modifier</a>
                <a href="{{ path('ticket_delete', {ticketId: ticket.id, linkToken: group.linkToken}) }}" class="btn btn-sm btn-outline-secondary btn-sm">Supprimer</a>
            </div>
		</div>
	</div>
</div>